.zig-cache/
zig-out/
zig-pkg/

client_store.sqlite
*.sqlite
*.sqlite-journal

.idea/
.vscode/

dist/

# I dont care if you use agents
# I just dont want your idea of what this file should be
AGENTS.md
